@page
@model SWP_Steel.Pages.Admin.IndexModel

@{
    Layout = "Shared/_LayoutAdmin";
    var dBContext = new Swp391Context();
    var topPro = (List<Item>)ViewData["TopProduct"];
}

<div class="page-wrapper">
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Số khách hàng</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash">
                        <canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;">
                        </canvas>
                    </div>
                </li>
                <li class="ms-auto">
                            <span class="counter text-success">@ViewData["totalCustomer"]</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Tổng doanh thu</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash2">
                        <canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;">
                        </canvas>
                    </div>
                </li>
                <li class="ms-auto">
                            <span class="counter text-purple">@String.Format("{0:#,##0}",@ViewData["totalOrder"] ) VNĐ</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Tổng doanh thu tuần</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash3">
                        <canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;">
                        </canvas>
                    </div>
                </li>
                <li class="ms-auto">
                            <span class="counter text-info">@String.Format("{0:#,##0}",@ViewData["totalWeeklySale"] ) VNĐ</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Doanh thu theo tháng</h3>
        @*    <div class="d-md-flex">
                <ul class="list-inline d-flex ms-auto">
                    <li class="ps-3">
                        <h5><i class="fa fa-circle me-1 text-info"></i>Mac</h5>
                    </li>
                    <li class="ps-3">
                        <h5><i class="fa fa-circle me-1 text-inverse"></i>Windows</h5>
                    </li>
                </ul>
            </div>*@
                    <div class="d-md-flex">
                    <form method="get">
                        Năm <select name="year" id="filterYear" onchange="this.form.submit()">
                            @foreach (var year in Model.Years)
                            {
                                if (Model.CurYear == year)
                                {
                                    <option selected>@year</option>
                                }
                                else
                                {
                                    <option>@year</option>
                                }
                            }
                        </select>

                    </form>
                    </div>
            <div id="ct-visits" style="height: 405px;">
                <div class="chartist-tooltip" style="top: -17px; left: -12px;">
                    <span
                        class="chartist-tooltip-value">
                        6
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Các mặt hàng bán chạy</h3>
                @*<div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                    <select class="form-select shadow-none row border-top">
                        <option>March 2021</option>
                        <option>April 2021</option>
                        <option>May 2021</option>
                        <option>June 2021</option>
                        <option>July 2021</option>
                    </select>
                </div>*@
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                    <tr>
                        <th class="border-top-0">ID</th>
                        <th class="border-top-0">Tên</th>
                        <th class="border-top-0">Ngành hàng</th>
                        <th class="border-top-0">Số lượng bán</th>
                        <th class="border-top-0">Doanh thu</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in topPro){
                                    
                    <tr>
                        <td>@product.Product.ProductId</td>
                        <td class="txt-oflo">@product.Product.ProductName</td>
                        <td>@product.Product.Category.CategoryName</td>
                                       

                                                <td class="txt-oflo">@product.Quantity</td>
                        <td>
                                            <span class="text-success">@String.Format("{0:#,##0}",@product.Quantity*product.Product.UnitPrice ) VNĐ</span>
                        </td>
                                            
                                        
                    </tr>
                        }
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <!-- .col -->
    <div class="col-md-12 col-lg-8 col-sm-12">
        <div class="card white-box p-0">
            <div class="card-body">
                <h3 class="box-title mb-0">Recent Comments</h3>
            </div>
            <div class="comment-widgets">
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row p-3 mt-0">
                    <div class="p-2">
                        <img src="plugins/images/users/varun.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text ps-2 ps-md-3 w-100">
                        <h5 class="font-medium">James Anderson</h5>
                        <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>
                        <div class="comment-footer d-md-flex align-items-center">
                            <span class="badge bg-primary rounded">Pending</span>

                            <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row p-3">
                    <div class="p-2">
                        <img src="plugins/images/users/genu.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text ps-2 ps-md-3 active w-100">
                        <h5 class="font-medium">Michael Jorden</h5>
                        <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>
                        <div class="comment-footer d-md-flex align-items-center">

                            <span class="badge bg-success rounded">Approved</span>

                            <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>
                        </div>
                    </div>
                </div>
                <!-- Comment Row -->
                <div class="d-flex flex-row comment-row p-3">
                    <div class="p-2">
                        <img src="plugins/images/users/ritesh.jpg" alt="user" width="50" class="rounded-circle">
                    </div>
                    <div class="comment-text ps-2 ps-md-3 w-100">
                        <h5 class="font-medium">Johnathan Doeting</h5>
                        <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>
                        <div class="comment-footer d-md-flex align-items-center">

                            <span class="badge rounded bg-danger">Rejected</span>

                            <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card white-box p-0">
            <div class="card-heading">
                <h3 class="box-title mb-0">Chat Listing</h3>
            </div>
            <div class="card-body">
                <ul class="chatonline">
                    <li>
                        <div class="call-chat">
                            <button class="btn btn-success text-white btn-circle btn" type="button">
                                <i class="fas fa-phone"></i>
                            </button>
                            <button class="btn btn-info btn-circle btn" type="button">
                                <i class="far fa-comments text-white"></i>
                            </button>
                        </div>
                        <a href="javascript:void(0)" class="d-flex align-items-center">
                            <img
                                src="plugins/images/users/varun.jpg" alt="user-img" class="img-circle">
                            <div class="ms-2">
                                <span class="text-dark">
                                    Varun Dhavan
                                    <small
                                        class="d-block text-success d-block">
                                        online
                                    </small>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="call-chat">
                            <button class="btn btn-success text-white btn-circle btn" type="button">
                                <i class="fas fa-phone"></i>
                            </button>
                            <button class="btn btn-info btn-circle btn" type="button">
                                <i class="far fa-comments text-white"></i>
                            </button>
                        </div>
                        <a href="javascript:void(0)" class="d-flex align-items-center">
                            <img
                                src="plugins/images/users/genu.jpg" alt="user-img" class="img-circle">
                            <div class="ms-2">
                                <span class="text-dark">
                                    Genelia
                                    Deshmukh <small class="d-block text-warning">Away</small>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="call-chat">
                            <button class="btn btn-success text-white btn-circle btn" type="button">
                                <i class="fas fa-phone"></i>
                            </button>
                            <button class="btn btn-info btn-circle btn" type="button">
                                <i class="far fa-comments text-white"></i>
                            </button>
                        </div>
                        <a href="javascript:void(0)" class="d-flex align-items-center">
                            <img
                                src="plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle">
                            <div class="ms-2">
                                <span class="text-dark">
                                    Ritesh
                                    Deshmukh <small class="d-block text-danger">Busy</small>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="call-chat">
                            <button class="btn btn-success text-white btn-circle btn" type="button">
                                <i class="fas fa-phone"></i>
                            </button>
                            <button class="btn btn-info btn-circle btn" type="button">
                                <i class="far fa-comments text-white"></i>
                            </button>
                        </div>
                        <a href="javascript:void(0)" class="d-flex align-items-center">
                            <img
                                src="plugins/images/users/arijit.jpg" alt="user-img" class="img-circle">
                            <div class="ms-2">
                                <span class="text-dark">
                                    Arijit
                                    Sinh <small class="d-block text-muted">Offline</small>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="call-chat">
                            <button class="btn btn-success text-white btn-circle btn" type="button">
                                <i class="fas fa-phone"></i>
                            </button>
                            <button class="btn btn-info btn-circle btn" type="button">
                                <i class="far fa-comments text-white"></i>
                            </button>
                        </div>
                        <a href="javascript:void(0)" class="d-flex align-items-center">
                            <img
                                src="plugins/images/users/govinda.jpg" alt="user-img"
                                class="img-circle">
                            <div class="ms-2">
                                <span class="text-dark">
                                    Govinda
                                    Star <small class="d-block text-success">online</small>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="call-chat">
                            <button class="btn btn-success text-white btn-circle btn" type="button">
                                <i class="fas fa-phone"></i>
                            </button>
                            <button class="btn btn-info btn-circle btn" type="button">
                                <i class="far fa-comments text-white"></i>
                            </button>
                        </div>
                        <a href="javascript:void(0)" class="d-flex align-items-center">
                            <img
                                src="plugins/images/users/hritik.jpg" alt="user-img" class="img-circle">
                            <div class="ms-2">
                                <span class="text-dark">
                                    John
                                    Abraham<small class="d-block text-success">online</small>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>*@
        <script>
            $(document).ready(function () {
                $('#filterYear').change(function () {
                    window.location = '/Admin/Index?year=' + $('#filterYear').val()
                });
            });
        </script>
<script>
            function executeChart () {
                "use strict";
                // ==============================================================
                // Newsletter
                // ==============================================================

                //ct-visits
                new Chartist.Line('#ct-visits', {
                    labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                    series: [
                        [@Model.janSaleFrieght, @Model.febSaleFrieght, @Model.marSaleFrieght, @Model.aprSaleFrieght, @Model.maySaleFrieght, @Model.junSaleFrieght, @Model.julySaleFrieght, @Model.augSaleFrieght, @Model.sepSaleFrieght, @Model.octSaleFrieght, @Model.novSaleFrieght, @Model.decSaleFrieght]
                        , [@Model.janSaleFrieght, @Model.febSaleFrieght, @Model.marSaleFrieght, @Model.aprSaleFrieght, @Model.maySaleFrieght, @Model.junSaleFrieght, @Model.julySaleFrieght, @Model.augSaleFrieght, @Model.sepSaleFrieght, @Model.octSaleFrieght, @Model.novSaleFrieght, @Model.decSaleFrieght]
                    ]
                }, {
                    top: 0,
                    low: 1,
                    showPoint: true,
                    fullWidth: true,
                    plugins: [
                        Chartist.plugins.tooltip()
                    ],
                    axisY: {
                        labelInterpolationFnc: function (value) {
                            return (value / 1000000) + 'M';
                        }
                    },
                    showArea: true
                });


                var chart = [chart];

                var sparklineLogin = function () {
                    $('#sparklinedash').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                        type: 'bar',
                        height: '30',
                        barWidth: '4',
                        resize: true,
                        barSpacing: '5',
                        barColor: '#7ace4c'
                    });
                    $('#sparklinedash2').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                        type: 'bar',
                        height: '30',
                        barWidth: '4',
                        resize: true,
                        barSpacing: '5',
                        barColor: '#7460ee'
                    });
                    $('#sparklinedash3').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                        type: 'bar',
                        height: '30',
                        barWidth: '4',
                        resize: true,
                        barSpacing: '5',
                        barColor: '#11a0f8'
                    });
                    $('#sparklinedash4').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                        type: 'bar',
                        height: '30',
                        barWidth: '4',
                        resize: true,
                        barSpacing: '5',
                        barColor: '#f33155'
                    });
                }
                var sparkResize;
                $(window).on("resize", function (e) {
                    clearTimeout(sparkResize);
                    sparkResize = setTimeout(sparklineLogin, 500);
                });
                sparklineLogin();
            }
            executeChart();

</script>