@page
@model SWP_Steel.Pages.Admin.Order.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "Shared/_LayoutAdmin";
}
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="title-box">
                    <a class="btn" href="javascript:history.back()">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <h4 class="page-title">Cập nhật đơn hàng</h4>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-12">
                <div class="white-box">
                    <div class="form-group mb-4">
                        <span class="col-sm-12">
                            Họ tên: @Html.DisplayFor(
                                         model => model.Order.Customer!.ContactTitle). @Html.DisplayFor(model => model.Order.Customer!.ContactName)
                        </span>
                    </div>
                    <div class="form-group mb-4">
                        <span class="col-sm-12">
                            Số điện thoại: @Html.DisplayFor(model => model.Order.Customer!.Phone)
                        </span>
                    </div>
                    <div class="form-group mb-4">
                        <span class="col-sm-12">
                            Email: @Html.DisplayFor(model => model.Order.Customer!.Email)
                        </span>
                    </div>
                    <div class="form-group mb-4">
                        <span class="col-sm-12">
                            Ngày đặt hàng: @(DateTime.Parse(Model.Order.OrderDate.ToString()!).ToString("dd/MM/yyyy"))
                        </span>
                    </div>
                    <div class="form-group mb-4">
                        <span class="col-sm-12">
                            Ngày yêu cầu: @(DateTime.Parse(Model.Order.RequiredDate.ToString()!).ToString("dd/MM/yyyy"))
                        </span>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Order.OrderId"/>
                            <input type="hidden" asp-for="Order.CustomerId" class="form-control"/>
                            <input type="hidden" asp-for="Order.OrderDate" class="form-control"/>
                            <input type="hidden" asp-for="Order.ShippedDate" class="form-control"/>
                            <input type="hidden" asp-for="Order.RequiredDate" class="form-control"/>
                            <input type="hidden" asp-for="Order.Freight" class="form-control"/>
                            <div class="form-group mb-4">
                                <label asp-for="Order.EmployeeId" class="control-label">Nhân viên phụ trách:</label>
                                <div class="col-sm-12 border-bottom">
                                    <select asp-for="Order.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId">
                                        <option value="null" selected disabled hidden>Chọn nhân viên</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="Order.ShipAddress" class="control-label">Địa chỉ giao hàng:</label>
                                <input asp-for="Order.ShipAddress" class="form-control"/>
                                <span asp-validation-for="Order.ShipAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <div class="col-sm-12">
                                    <input type="submit" value="Cập nhật" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>