@page
@model SWP_Steel.Pages.Admin.Employee.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_LayoutAdmin";
    var session = JsonSerializer.Deserialize<Employee>(HttpContext.Session.GetString("AdminSession")!);
    if (session!.Role != 1)
    {
        HttpContext.Response.Redirect("/admin/index");
    }
}

<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Nhân viên</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                        <li>
                            <a href="#" class="fw-normal">Tổng quan</a>
                        </li>
                    </ol>
                    <a href="~/admin/employee/create"
                       class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">
                        Thêm nhân viên
                    </a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Danh sách nhân viên</h3>
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                            <tr>
                                <th>Họ tên</th>
                                <th>Chức vụ</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Quyền</th>
                                <th>Trạng thái</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Employee)
                            {
                                <tr class="item__row" onclick="location.href='./Employee/Details?id=@item.EmployeeId'">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @(item.Phone ?? "Chưa có")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    <td>
                                        @(item.Status == true ? "Đang hoạt động" : "Ngừng hoạt động")
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>